# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Windows shortcuts
*.lnk

.classpath
.gitattributes
.gitignore
.gradle
.project
.settings
bin
build
build.gradle
CREDITS-fml.txt
eclipse
Forge
forge-1.10.2-12.18.1.2011-changelog.txt
gradle
gradlew
gradlew.bat
LICENSE-new.txt
MinecraftForge-Credits.txt
Modding_Client.launch
Modding_Server.launch
Paulscode IBXM Library License.txt
Paulscode SoundSystem CodecIBXM License.txt
README.txt
run
Mod-Tutor_Server.launch
Mod-Tutor_Client.launch
forge-1.10.2-12.18.1.2052-changelog.txt